name: Template Validation

on:
  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - main
  workflow_dispatch:

jobs:
  pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run a PR title validation
        run: grep -E "^(CI:|DOC:|REFACT:|FIX:|MAINT:|TEST:|FEATURE:)" <<< "${{ github.event.pull_request.title }}"
