name: Template Validation

on:
  pull_request:
    types: [opened, edited, synchronize]
    branches:
      - main
  workflow_dispatch:

jobs:
  pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run a PR title validation
        run: grep -E "^(CI:|DOC:|REFACT:|FIX:|MAINT:|TEST:|FEATURE:)" <<< "${{ github.event.pull_request.title }}"
